@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 45%;

    --accent: 158 70% 32%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 158 70% 32%;
  }

  .dark:root {
    --background: 0 0% 7%;
    --foreground: 0 0% 96%;

    --card: 0 0% 10%;
    --card-foreground: 0 0% 96%;

    --primary: 0 0% 96%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 15%;
    --secondary-foreground: 0 0% 96%;

    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 63%;

    --accent: 158 60% 55%;
    --accent-foreground: 158 40% 10%;

    --destructive: 0 63% 40%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 158 60% 55%;
  }
}
